<div class="row">

  <div class="col-md-4">
    <h1>Offer data:</h1>

    <ul class="list-group">
      <li class="list-group-item list-group-item-info"><b>FISH:</b><%= @offer.fish.name %></li>
      <li class="list-group-item list-group-item-info"><b>MIN_PRICE:</b><%= @offer.min_price %></li>
      <li class="list-group-item list-group-item-info"><b>QUANTITY:</b><%= @offer.quantity %></li>
    </ul>

    <%= link_to "Back to Home Page", root_path, class: "btn btn-warning btn-block" %>
  </div>

  <div class="col-md-8">
    <h1>Create new Purchase Offer</h1>
    <%= render "form" %>
  </div>
</div>
