<div class="slider">
  <% first = true %>
  
  <% @fish.each do |fish| %>

    <% if first == true %>
      <div class="slide active-slide" style="background: transparent url('<%= fish.image %>') center center no-repeat; background-size: cover;">
        <div class="slide-name">
          <% first = false %>
          <h1><%= fish.name %></h1>
          <p class="description"><%= fish.description %></p>
        </div>

      </div>

    <% else %>
     <div class="slide" style="background: transparent url('<%= fish.image %>') center center no-repeat; background-size: cover;">
        <div class="slide-name">
          <h1><%= fish.name %></h1>
          <p class="description"><%= fish.description %></p>
        </div>

      </div>
    <% end %>

  <% end %>
</div>


<% first = true %>
<div class="slider-nav">
  <a href="#" class="arrow-prev"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png"></a>
    <ul class="slider-dots">

      <% @fish.each do |fish| %>
        <% if first == true %>
          <% first = false %>
          <li class="dot active-dot">&bull;</li>
        <% else %>
          <li class="dot">&bull;</li>
        <% end %>
      <% end %>

    </ul>
  <a href="#" class="arrow-next"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png"></a>
</div>

<h1>FISH LIST</h1>

<table class="table">
  <tr>
    <th>Day</th>
    <th>Fish</th>
    <th>Quantity</th>
    <th>Min Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @offers.each do |offer| %>
  <tr>
    <td><%= offer.timetable.day %></td>
    <td><%= offer.fish.name %></td>
    <td><%= offer.quantity %></td>
    <td><%= offer.min_price %></td>
    <td><%= link_to 'Show details', purchase_offer_path(offer) ,class: "btn btn-success btn-block" %></td>

      <% if !@current_user.nil? && offer.status == "pending" %>

        <td><%= link_to 'Make an offer', new_offer_purchase_offer_path(offer), class: "btn btn-warning btn-block" %></td>
      
        <% if @current_user.status == "admin" %>
        <td><%= link_to 'Settle The Offer', settle_offer_path(offer), class: "btn btn-danger btn-block" %></td>
        <% end %>
      <% end %>
  </tr>
<% end %>

</table>

<div class="row">
  <div class="col-sm-3">
    <% if !@current_user.nil? && @current_user.status == "admin" %>
      <%= link_to 'Add New Offer', new_offer_path , class: "btn btn-primary btn-block"  %>
    <% end %>
  </div>
</div>


